.input-cls{
    height: 35px;
    width: 400px;
    margin: 5px;
    font-size: 12px;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.form-cls{
    width: 60%;
    height: 500px;
    margin: auto;
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    justify-content: center;
    align-items: center;
}

.img-cls{
    width: autot;
    height: 100px;
}


.btn-class{
    background-color: rgb(41, 63, 210);
    color:rgb(244, 240, 240);
    height: 40px;
    width: 150px;
    font-size: 14px;
    border: 0px;
    margin: 20px;
    cursor:pointer;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
